<%- include('partials/header') -%>
<div>
  <a href="/profile/<%= postUser._id %>"> 
    <% if (postUser.profileImage) { %>
      <img src="<%= postUser.profileImage %>" alt="Profile Picture" class="img-fluid rounded-circle mb-3" style="max-width: 150px;">
    <% } else { %>
      <img src="/imgs/anyn.png" alt="Default Profile Picture" class="img-fluid rounded-circle mb-3" style="max-width: 150px;">
    <% } %>
  </a>  
<p><strong>User</strong>: <%= postUser.userName %></p>
<p><strong>Bio</strong>: <%= postUser.bio || 'The User has no bio' %></p>
  </div>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form class="col-1" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
          <% if (post.likedBy && post.likedBy.includes(user.id)) { %>
            <button class="btn btn-primary fa fa-heart" type="submit">Unlike</button>
          <% } else { %>
            <button class="btn btn-primary fa fa-heart" type="submit">Like</button>
          <% } %>
        </form>
        
        <p>Likes: <%= post.likes %></p> <!-- Show the number of likes -->
        
      </div>
    </div>
    <% if (post.user._id.toString() === loggedInUser.id.toString()) { %>
      <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
        <button class="btn btn-primary fa fa-trash" type="submit"></button>
      </form>
    <% } %>    
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <div class="mt-5">
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment" required >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <div class="d-flex align-items-center">
            <strong>
              <% if (comments[i].user && comments[i].user.userName) { %>
                <%= comments[i].user.userName %>
              <% } else { %>
                Anonymous
              <% } %>
            </strong>
          </div>
          <p class="mt-2"><%= comments[i].comment %></p>
        </li>
      <% } %>
    </ul>
  </div>
</div>

<%- include('partials/footer') -%>
